[![General Assembly Logo](https://camo.githubusercontent.com/1a91b05b8f4d44b5bbfb83abac2b0996d8e26c92/687474703a2f2f692e696d6775722e636f6d2f6b6538555354712e706e67)](https://generalassemb.ly/education/web-development-immersive)
![Misk Logo](https://i.ibb.co/KmXhJbm/Webp-net-resizeimage-1.png)

*Instructor: Marcus Lim*

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('northwind')

This is a stripped-down version of the Northwind database, a set of tables representing shipping information. There are three tables in this database: `order_details`, `orders` and `products`. Your task will be to answer the questions *only using SQL*. You can use `pd.read_sql` to communicate with the database and `pandas` to check your answers, but all your results should be gotten purely by executing SQL queries.

## The `products` table

**1. Display the first three rows of the `products` table.**

In [4]:
df = pd.read_sql('SELECT * FROM products', conn)

In [5]:
df.head(3)

,productid,productname,supplierid,categoryid,quantityperunit,unitprice,unitsinstock,unitsonorder,reorderlevel,discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.0,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.0,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.0,13,70,25,0

**2. What categories of products does the company sell?**

**3. How many products per category are there?**

**4. How many products per category have *not* been discontinued?**

**5a. What are the five most expensive products (that haven't been discontinued)?**

**5b. How many units of each of the answers to 5a are in stock?**

**6. What is the ratio of units in stock to units on order for all the products?**

**7. [Challenge] What is the total cost of all the stock?**

## The `order_details` and `orders` tables

**1. How many orders are there in total?**

**2. List all the countries receiving orders.**

**3. Which country receives the most orders?**

**4. Which customers are submitting more orders than average?**

**5. Which order generated the most revenue? (Don't forget the discount)**

**6. [Challenge] Which 3 customers generated the most revenue?**