[![General Assembly Logo](https://camo.githubusercontent.com/1a91b05b8f4d44b5bbfb83abac2b0996d8e26c92/687474703a2f2f692e696d6775722e636f6d2f6b6538555354712e706e67)](https://generalassemb.ly/education/web-development-immersive)
![Misk Logo](https://i.ibb.co/KmXhJbm/Webp-net-resizeimage-1.png)

*Instructor: Marcus Lim*

# Databases and SQL

## Learning Objectives

### Core

* Connect to a local or remote SQLite database with the command line, Python, and `pandas`
* Perform simple table-level read queries, including:
    * Taking subsets of columns with `SELECT`
    * Taking subsets of rows with `WHERE`, `AND`, and `OR`
    * Aggregating data with `GROUP BY` and `HAVING`
    * Joining tables with `JOIN`
* Eliminate duplicates with `SELECT DISTINCT`
* Perform queries requiring subqueries
* Compare strings with `LIKE`
* Process the output of queries with `AS`, `LIMIT`, and `ORDER BY`

## Introduction

Thus far, you have been performing operations on datasets that can fit on local storage (your computer's hard disk or SSD). However, in a production context, it is far more common for companies to store data on some remote server and extract subsets of it for analysis where necessary. This is for two reasons.

Firstly, the amount of data that a company has might be measurable only in terabytes (thousands of gigabytes). That won't fit on your computer. Also, while `pandas` works great for interactive analysis, it's not built for stability and concurrency. 

This means that data is often stored not in CSVs and JSONs, but rather in *databases*. When you work with a database, you don't need to worry about *how* it stores data, but only about how to access it. At this point, we'll be focusing on *relational databases*, which allow you to treat data like tables of rows and columns, just like you're used to in `pandas`. The strength of these databases is that they make four strong guarantees, which you can remember with **ACID**:

* **A**tomicity (what happens when reads and writes occur simultaneously?)
* **C**onsistency (how do we prevent data corruption?)
* **I**solation (how do we support multiple connections at once?)
* **D**urability (what happens to the data if we lose power?)

The most common way to interact with such databases, by far, is some variant of *Structured Query Language* (SQL). While there exist multiple dialects (sqlite, MySQL, PostgreSQL, Oracle...), the differences are largely minor and syntactical.

## Interacting with databases

We will go through three methods to access and query a database:

* Python using `pandas`
* Python using `sqlite3`
* The command line

Note for Windows users: you may need to download and install the sqlite3 utilities [here](https://sqlite.org/2020/sqlite-tools-win32-x86-3310100.zip).

In [ ]:
import sqlite3
import pandas as pd

## SQL with `pandas`

`pandas` can interact with an SQL database using the top-level `read_sql` function. Internally, it uses an `sqlite3` connection object to do so; however, since we are more familiar with `pandas`, we will first look at how we can use `pandas` functionality to perform simple queries, before going specifically into `sqlite3`.

In [ ]:
# Create a connection object

conn = sqlite3.connect('titanic_sqlite3')
df = pd.read_sql('SELECT * FROM titanic', conn)

### Taking column subsets

The `SELECT` class is the first piece of SQL we will learn. It takes the following format:

```sql
SELECT <column_names> 
FROM <table_name>
```

The Titanic data has been stored in the `titanic` table. Therefore, for example, if we wanted to get the `survived` and `pclass` columns from it, we would execute `SELECT survived, pclass FROM titanic`:

In [ ]:
sql = '''
SELECT survived, pclass
FROM titanic
'''

result = pd.read_sql(sql, conn)
result.head()

What if we want all the columns? In this case, SQL provides a special wildcard, `*`. It's okay to use a bare `SELECT *` in this case because we have very few rows, but note that doing this on a database with, say, a hundred million rows will probably just lead to a timeout.

In [ ]:
sql = '''
SELECT * 
FROM titanic'''

result = pd.read_sql(sql, conn)
result.head()

We can say in general that a `SELECT` class is equivalent to `df[column_names]`, where `column_names` is a `list` of column names in `df`.

### Unique values

We can modify the `SELECT` clause to `SELECT DISTINCT` to get only the unique values in a column, or the unique combinations of values in a number of columns. Above, we got the values in the `survived` and `pclass` columns for all passengers. With `SELECT DISTINCT`, we can see what pairs exist.

In [ ]:
sql = '''
SELECT DISTINCT survived, pclass
FROM titanic
'''

pd.read_sql(sql, conn)

### Taking row subsets

Sometimes, as in `pandas`, we want to filter rows based on the values of certain columns, which is done with a `WHERE` clause, which has a format as follows: 

```sql
SELECT <column_names> 
FROM <table_name> 
WHERE <condition>
```

The condition can be expressed as it is in normal Python, with operators such as `!=` and `<`. Note, however, that the equality operator is `=`, not `==`.

Say we want all columns where `survived` is 1:

In [ ]:
sql = '''
SELECT *
FROM titanic
WHERE survived = 1
'''

result = pd.read_sql(sql, conn)
result['survived'].unique()

As in `pandas`, we may also want to combine conditions, which we can do with `AND` and `OR`. We can add on an additional filter, selecting only those rows where `age` is less than 20 or more than 50:

In [ ]:
sql = '''
SELECT *
FROM titanic
WHERE survived = 1
AND (age < 20 OR age > 50)
'''

result = pd.read_sql(sql, conn)
result['age'].between(20, 50).any()

Think about how you would perform these queries in `pandas`.

### String comparisons

Apart from the standard operators you know, SQL has a `LIKE` clause, which allows you to specify a sort of pattern for strings, with two wildcards:

* `%`, which represents any number of (possibly different) characters
* `_`, which represents any single character

So, for example, to get all the rows where the `name` column contains `Mr.`:

```sql
SELECT *
FROM titanic
WHERE name LIKE '%Mr.%'
```

The reverse operation (match those strings which do *not* conform to this pattern) can be performed with `NOT LIKE`.

In [ ]:
sql = '''
SELECT *
FROM titanic
WHERE name LIKE '%Mr.%'
'''

result = pd.read_sql(sql, conn)
result.head()

### In-class exercise

Let's practice some SQL! For the questions below, answer them first using solely `pandas`, and then write a SQL query and execute it with `pd.read_sql`. Check your answers against the `pandas` result!

**1. Select the `name`, `sex` and `age` columns.**

**2. Get all the rows where `fare` is less than 50.**

**3. Get the unique combinations of the `survived`, `pclass` and `embarked` columns.**

**4. Get the ages of all the male passengers whose Passenger ID is more than 400.**

**5. Get the names of the female passengers whose names do not contain "Miss.".**

### Sorting

The result of a query can be sorted with the `ORDER BY` clause, which has the following format:

```sql
SELECT ...
ORDER BY <order_column_names>
```

You may optionally specify ascending order with `ASC` (the default) and descending order with `DESC` on a column-by-column basis. So, for example, if you wanted to order by the `sibsp` column in ascending order and then the `parch` column in descending order, you could execute the following query:

```sql
SELECT *
FROM titanic
ORDER BY sibsp ASC,
         parch DESC
```

In [ ]:
sql = '''
SELECT *
FROM titanic
ORDER BY sibsp ASC,
         parch DESC
'''

result = pd.read_sql(sql, conn)
result.head()

### Limiting results

In some cases, you only want a subset of the returned results; for example, the first three. This is achieved with the `LIMIT` clause, which has this format:

```sql
SELECT ...
LIMIT <result_count>
```

If the number of results returned is lower than the specified result count, then the `LIMIT` clause has no effect.

In [ ]:
sql = '''
SELECT *
FROM titanic
LIMIT 7
'''

pd.read_sql(sql, conn)

### Aggregating

You may also wish to perform aggregation operations, which can be done with function-like clauses. The ones you should know:

* `COUNT`
* `AVG`
* `SUM`
* `MIN`
* `MAX`

They operate the same way as in `pandas` - `AVG` is the equivalent of `mean`. Note that `count` counts only *non-null* values!

To use them, just surround column names with the desired aggregation function. For example, say we wanted, for all passengers, the following data:

* The number of non-null values in the `cabin` column
* The percentage of people who survived
* The total fare paid
* The maximum age
* The minimum age

In [ ]:
sql = '''
SELECT COUNT(cabin), 
       AVG(survived), 
       SUM(fare), 
       MAX(age), 
       MIN(age)
FROM titanic
'''

pd.read_sql(sql, conn)

This looks almost right, except for the fact that the survival percentage is on the wrong scale (it needs to be multiplied by 100 to be a percentage). It turns out that you can also perform arithmetic operations in SQL:

In [ ]:
sql = '''
SELECT COUNT(cabin), 
       AVG(survived) * 100, 
       SUM(fare), 
       MAX(age), 
       MIN(age)
FROM titanic
'''

pd.read_sql(sql, conn)

Lastly, it would help if we could rename the results to be more descriptive. This can be done with the `AS` clause:

In [ ]:
sql = '''
SELECT COUNT(cabin) AS cabin_count, 
       AVG(survived) * 100 AS survival_percentage, 
       SUM(fare) AS total_fare, 
       MAX(age) AS max_age, 
       MIN(age) AS min_age
FROM titanic
'''

pd.read_sql(sql, conn)

### Groupby aggregations

This aggregation functionality is incomplete without the power of groupby operations, and in fact the `pandas` groupby functionality is inspired by SQL. The relevant clause is, of course, `GROUP BY`, which takes the following format:

```sql
SELECT <column_names> 
FROM <table_name> 
GROUP BY <groupby_column_names>
```

In `pandas`, if you wanted to get the max age by `pclass`, you would execute the following code:

```python
df.groupby('pclass')['age'].max()
```

The SQL equivalent:

```sql
SELECT MAX(age) 
FROM titanic 
GROUP BY pclass
```

In [ ]:
sql = '''
SELECT MAX(age) 
FROM titanic 
GROUP BY pclass
'''

pd.read_sql(sql, conn)

Note that unlike in `pandas`, the grouping column is not automatically included for you; if you want to know which value corresponds to which aggregation, you need to include it explicitly:

In [ ]:
sql = '''
SELECT pclass, MAX(age) 
FROM titanic 
GROUP BY pclass
'''

pd.read_sql(sql, conn)

Grouping on multiple columns is similarly supported:

In [ ]:
sql = '''
SELECT survived, pclass, MAX(age) 
FROM titanic 
GROUP BY survived, pclass
'''

result = pd.read_sql(sql, conn)
result

While it is not necessary, you can combine a `WHERE` clause with a `GROUP BY` clause so that you groupby only after filtering:

In [ ]:
sql = '''
SELECT survived, pclass, MAX(age) 
FROM titanic 
WHERE sex = 'male'
GROUP BY survived, pclass
'''

pd.read_sql(sql, conn)

This is equivalent to the following:

```python
df[df['sex'] == 'male'].groupby(['survived', 'pclass']).max()
```

### In-class exercise 2

More SQL practice. You know how it works.

**1. Get the highest value of the `sibsp` column.**

**2. Get the ages of the 5 oldest passengers.**

**3. Get the counts of passengers at each port of embarkation (that's the `embarked` column).**

**4. Get the percentage of passengers who survived, divided by passenger class, and then sex. Rename the columns in the result appropriately.**

**5. Get the number of passengers in C-type cabins.**

### Groupby conditions

You can also impose conditions on the groups that are created by a `GROUP BY` clause. This is done not with `WHERE`, which is for filtering *before* the grouping process, but with `HAVING`:

```sql
SELECT <column_names>
FROM <table_name>
GROUP BY <groupby_column_name>
```

We can use this to, for example, get the values of `embarked` where the mean age is more than 30.

In [ ]:
sql = '''
SELECT embarked
FROM titanic
GROUP BY embarked
HAVING AVG(age) > 30
'''

result = pd.read_sql(sql, conn)
result.head()

This is equivalent to `df.groupby('embarked').filter(lambda g: g['age'].mean() > 30)['embarked'].unique()`, except that SQL also includes the null group.

### Joins

Joins can be performed in SQL with the `JOIN` and `ON` clauses, in the following format:

```sql
SELECT <column_names>
FROM <left_table_name>
<JOIN_TYPE> JOIN <right_table_name>
ON <left_table_name>.<left_table_join_column> = <right_table_name>.<right_table_join_column>
```

So, for example, say you want to join the `titanic` table (left) and the `classes` table (right):

In [ ]:
sql = '''
SELECT *
FROM titanic
LEFT JOIN classes
ON titanic.pclass = classes.pclass
'''

result = pd.read_sql(sql, conn)
result.head()

The result has two `pclass` columns, one from each table. Perform the same query, but this time keeping only the `passengerid` and `pclass_name` columns.

In [ ]:
sql = '''
SELECT passengerid, pclass_name
FROM titanic
LEFT JOIN classes
ON titanic.pclass = classes.pclass
'''

result = pd.read_sql(sql, conn)
result.head()

Some rows have `None` as a value for `pclass_name`. To understand why, examine the `classes` table:

In [ ]:
sql = '''
SELECT *
FROM classes
'''

pd.read_sql(sql, conn)

Feel free to experiment on your own with other join types.

### Subqueries

Sometimes, you need to perform queries within queries. With what we have learnt above, it is impossible to get, for example, the IDs of all passengers who are older than average. In `pandas`, we would do it in this way:

```python
df.loc[df['age'] > df['age'].mean(), 'passengerid']
```

Notice that we need to compare the `age` column to another value that is itself derived from the `age` column. In such a case, we need a *subquery*:

```sql
SELECT passengerid
FROM titanic
WHERE age > (
    SELECT AVG(age)
    FROM titanic
)
AND age IS NOT NULL
```

In this subquery, we first get the average age from a query. We then *nest*, or insert, the result of that query into the larger query that makes a comparison on the `age` column, while selecting only the `passengerid` column.

In [ ]:
sql = '''
SELECT passengerid
FROM titanic
WHERE age > (
    SELECT AVG(age)
    FROM titanic
)
AND age IS NOT NULL
'''

result = pd.read_sql(sql, conn)
result.head()

## SQL with `sqlite3`

The `sqlite3` library allows you to interact with a SQLite database at a lower level. `pandas` takes an SQL query and a connection object, hiding some parts of the hard work from us. Now, let's try to use `sqlite` directly. First, we need a *cursor object*:

In [ ]:
cursor = conn.cursor()

We can execute SQL queries by calling `.execute()` on the cursor, which represents the set of results that are returned from a query. Notice that it is the `fetchall` call that actually interfaces with the database to retrieve data:

In [ ]:
%%timeit

cursor.execute('SELECT * FROM titanic')

In [ ]:
%%timeit

cursor.execute('SELECT * FROM titanic')
cursor.fetchall()

The queries we have learnt above deal with *reading* data. However, there may be cases in which you need to perform *insertions* or *modifications*, which we will talk about in the next lesson.

### SQL with the command line

You can access the database in this repo with `sqlite3 titanic_sqlite3`. All the above operations can be performed through the command line.

Each dialect of SQL has its own client for accessing a database. For example, PostgreSQL uses `psql`. Consult the documentation of your client.