[![General Assembly Logo](https://camo.githubusercontent.com/1a91b05b8f4d44b5bbfb83abac2b0996d8e26c92/687474703a2f2f692e696d6775722e636f6d2f6b6538555354712e706e67)](https://generalassemb.ly/education/web-development-immersive)
![Misk Logo](https://i.ibb.co/KmXhJbm/Webp-net-resizeimage-1.png)

*Instructor: Marcus Lim*

# More SQL

## Learning Objectives

### Core

* Perform simple database-level queries, including:
    * Creating tables with `CREATE TABLE`
    * Modifying tables with `ALTER TABLE`
* Perform simple table-level write queries, including:
    * Inserting data with `INSERT INTO`
    * Modifying data with `UPDATE`
    * Removing data with `DELETE FROM`

### Target

* Distinguish SQL and NoSQL databases
* Identify examples of NoSQL databases, such as MongoDB and Cassandra
* Understand the tradeoffs between SQL and NoSQL databases

In [2]:
import sqlite3
import pandas as pd

### Creating tables

Tables can be created with the `CREATE TABLE` clause, which has this format:

```sql
CREATE TABLE <table_name> (
    <column_name> <column_type> <column_constraint>
    <column_name> <column_type> <column_constraint>
    ...
    <table_constraints>
)
```

For example, the `titanic` table was created in this way:

```sql
CREATE TABLE "titanic" (
  "passengerid" INTEGER,
  "survived" INTEGER,
  "pclass" INTEGER,
  "name" TEXT,
  "sex" TEXT,
  "age" REAL,
  "sibsp" INTEGER,
  "parch" INTEGER,
  "ticket" TEXT,
  "fare" REAL,
  "cabin" TEXT,
  "embarked" TEXT
)
```

A "column constraint" is a restriction on a column that goes beyond data type. For example, if you wanted to specify that the `fare` column cannot be null, you would use `"fare" REAL NOT NULL` above. Some other possible constraints:

* `DEFAULT` - sets a default value
* `UNIQUE` - enforces uniqueness on the values of this column
* `PRIMARY KEY` - enforceness uniqueness and makes it more efficient to filter on this column; a table can have only one primary key.

In [3]:
conn = sqlite3.connect('titanic_sqlite3')

### Modifying tables

You can also change a table's schema with `ALTER TABLE`. The two most common clauses are `ADD` and `DROP COLUMN`. So, for example, if you wanted to add a column to the `titanic` table named `height` of type `INTEGER`, you could execute this:

```sql
ALTER TABLE titanic
ADD height INTEGER
```

### Inserting data

You can insert a row into a table with `INSERT INTO`, which has the following format:

```sql
INSERT INTO <table_name> (<column_name>, <column_name>, ...)
VALUES (<value>, <value>, ...)
```

### Modifying and deleting data

Data in a table can be modified with `UPDATE` and deleted with `DELETE FROM`. These commands are often somewhat tricky to use because if you don't add a filter with `WHERE`, by default they will act on the *whole* table!